
# Python
__pycache__/
*.py[cod]
*.so

# Virtual environments
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Test & coverage
.coverage
.cache/
.pytest_cache/
htmlcov/

# MyPy & Pyre
.mypy_cache/
.pyre/

# dotenv
.env
.env.*

# Build
build/
dist/
*.egg-info/
